.jumbotron {
    background-image: url("/jumboimage.png");
    background-size: cover;
  }

body {
    background-color: rgb(254, 241, 232);
  }
.panel {
    background-color: rgb(254, 241, 232)
}

.well {
    background-color: rgb(287, 196, 174);
}

#sample-metadata {
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
    color: rgb(92, 64, 51);
    font-size: 20px
}
.col-md-12 {
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;

    color: rgb(0, 0, 0);
    font-size: 20px
}
.panel-title {
    font-family: "Lucida Console", "Courier New", monospace;
    color: rgb(92, 64, 51);
    font-size: 20px
};